.input {

    margin-left: 10px;
}

.navibar-right{

  margin-left:  300px;

}

.navigation-bar {

}

.navigation-bar-right {
margin-left: 150px;

}
.signuppage-form {
  margin: auto;
  width: 600px;
  padding-top: 30px;
}

.buttonpad {
  width: 600px;
 margin-top: 20px;
}
